body {
    background-image: url("Images/blue-gradient-white-linear-1920x1080-c2-87cefa-ffffff-a-270-f-14.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    background-color: white;
}

.divider {
    background-color: orange;
    width: 100%;
    height: 4px;
}

.fa {
    padding: 20px;
    font-size: 50px;
    width: 100px;
    text-align: center;
    text-decoration: none;
}

.home-page-container {
    text-align: center;
    border: 7px solid orange;
    width: 40%;
    height: 400px;
    margin: 0 auto;
    background-color: white;
}

.social-media-container {
    width: 100%;
    height: 10%;
}

.travel-footer {
    background-color: white;
}
/* Gallery Page*/

.Gallery-Page-Container {
    margin: 0 auto;
    border: 5px solid orange;
    width: 95%;
    height: 80%;
}

#Gallery-Box-1-Image-picture {
    margin: 10px;
}


#Gallery-Box-1-Image-text {
    font-size: 25px;
    margin-left: 50%;
    margin-right: 25px;
    text-align: center;
    position: relative;
    top: -250px;
    color: orange;
    border: 4px solid deepskyblue;
    background-color: white;
    width: 400px;
    right: -100px;
}

#Gallery-Box-2-Image-picture {
    margin-top: 10px;
    margin-left: 925px;
    alignment: right;
}


#Gallery-Box-2-Image-text {
    alignment: left;
    font-size: 25px;
    color: orange;
    position: relative;
    top: -250px;
    border: 4px solid deepskyblue;
    background-color: white;
    width: 400px;
    right: -100px;
}

#Gallery-Box-3-Image-picture {
    margin: 10px;

}


#Gallery-Box-3-Image-text {
    font-size: 25px;
    margin-left: 50%;
    margin-right: 25px;
    text-align: center;
    position: relative;
    top: -250px;
    color: orange;
    border: 4px solid deepskyblue;
    background-color: white;
    width: 400px;
    right: -250px;
}

#Gallery-Box-4-Image-picture {
    margin-top: 10px;
    margin-left: 250px;
    alignment: right;
}


#Gallery-Box-4-Image-text {
    alignment: left;
    font-size: 25px;
    color: orange;
    position: relative;
    top: -850px;
    border: 4px solid deepskyblue;
    background-color: white;
    width: 400px;
    right: -80px;
}

#Gallery-Box-5-Image-picture {
    margin: 10px;

}


#Gallery-Box-5-Image-text {
    font-size: 25px;
    margin-left: 50%;
    margin-right: 25px;
    text-align: center;
    position: relative;
    top: -250px;
    color: orange;
    border: 4px solid deepskyblue;
    background-color: white;
    width: 400px;
    right: -250px;
}
/*Image Pages*/