body {
    background-color: black;

}

#Login-Box {
    text-align: center;
    border: 7px solid lawngreen;
    width: 40%;
    height: 400px;
    margin: 0 auto;
    background-color: black;
    background-image: url("../CSS-STYLE/Images/898453.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color: lawngreen;
}

.navbar-brand.text {
    color: lawngreen;
    font-size: 35px;
    padding: 0;
}

.navbar-nav .nav-item {
    color: lawngreen;
}

.header {
    background-color: black;
}

#header-divider {
    background-color: white;
    width: 100%;
    height: 5px;
}

/*Access Granted*/

#Access-granted-textbox {
    color: lawngreen;
    text-align: center;
    border: 7px solid lawngreen;
    width: 40%;
    height: 400px;
    margin: 0 auto;
    background-color: black;
    background-image: url("../CSS-STYLE/Images/4.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}


