body {
    background-color: black
}

.header {
    background-color: black;
}

.navbar-brand.text {
    color: lawngreen;
    font-size: 35px;
    padding: 0;
}

.navbar-nav .nav-item {
    color: lawngreen;
}

.header-divider {
    background-color: white;
    width: 100%;
    height: 5px;
}
/**/
/**/
/**/

.row-one {
    color: lawngreen;
    text-align: center;
    border-bottom: 3px white dotted;
    width: 100%;
}

#sub-header-image {
    height: 75px;
    margin-right: 20px;
}