body {
    background-image: url("Images/official-grunge-stamp-vector-illustration-260nw-432471535.webp");
    background-size: 300px;
    background-repeat: no-repeat;
    background-position-x: 30%;
    background-position-y: 10%;
    background-attachment: local;
}

#header {
    background-color: gainsboro;
    color: gainsboro;
    margin: 0;
}



.Right-Side-Header {
    text-align: center;
    float: right;
    margin-right: 100px;
}

/**/

.Left-Side-Header {
    text-align: left;
    float: left;
}

/**/

.top-tab-container {
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-gap: 10px;

}

.top-tab {
    width: 100%;
    text-align: center;
    background-color: gainsboro;
    padding: 0;
    border: 3px solid black;
}

.mid-tab-container {
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-gap: 10px;


}

.mid-tab {
    width: 100%;
    text-align: center;
    background-color: gainsboro;
    padding: 0;
    border: 3px solid black;

}

input[type="submit"] {
    color: white;
    background-color: darkgrey;
    height: 30px;
}





#footer-text {
    text-align: center;
    font-size: 30px;
    background-color: gainsboro;
}

#Main-Text\ Line-1 {

}
