.credit-card {
    margin: 50px auto;
    width: 500px;
    height: 300px;
    padding: 50px;
    background-color: black;
    border-radius: 15px;
    border: 10px;
    position: relative;
    background-image: url("Images/dal.png") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
}

.credit-card h3 {
    text-align: right;
    color: greenyellow;
    font-style: oblique;
    font-size: 30px;
    top: -70px;
    right: -25px;
    position: relative;
-webkit-text-stroke: 1px black;
}

#card-number {
    position: relative;
    text-align: center;
    color: greenyellow;
    font-size: 45px;
    margin: 50px auto;
    bottom: -50px;
    -webkit-text-stroke: 2px black;

}

#card-name {

    text-align: left;
    color: greenyellow;
    font-size: 30px;
    margin: 50px auto;
    position: relative;
    bottom: -80px;
    left: -20px;
-webkit-text-stroke: 1px black;
}

#date {
   position: relative;
    text-align: right;
    color: greenyellow;
    font-size: 30px;
    top: -65px;
    left: -75px;
    -webkit-text-stroke: 1px black;
}

#cardpchip{
   position: relative;
    width: 60px;
    height: 40px;
    background-image: url("Images/kisspng-chip-pin-solutions-ltd-emv-payment-card-credit-c-chip-5adec4d8598454.1429704015245488243667.jpg");
    background-repeat: no-repeat;
    background-position: center;
   background-size: 65px;
    top: -340px;

}

#card-visa {
   position: relative;
    background-image: url("Images/mastercard.jpg");
    background-size: 75px;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    width: 100px;
    top: -180px;
    right: -440px;
    
}
/**/
/**/
/**/
/**/


.credit-card-back {
    margin: 50px auto;
    width: 500px;
    height: 300px;
    padding: 50px;
    background-color: black;
    border-radius: 15px;
    border: 10px;
}

#credit-card-line {
    position: relative;
    width: 600px;
    height: 60px;
    left: -50px;
    background-color: white;
}


#credit-card-line2 {
    position: relative;
    width: 450px;
    height: 40px;
    background-color: gainsboro;
    bottom: -20px;
    left: -35px;
}

#credit-card-line3 {
    position: relative;
    width: 75px;
    height: 40px;
    background-color: white;
    top: -41px;
    right: -415px;
}

#credit-card-back-number{
    position: relative;
    color: green;
    top: -98px;
    right: -430px;
    font-size: 25px;
}

#back-text {
    position: relative;
    color: greenyellow;
    font-size: 18px;
    top: -50px;
}

#back-sig {
    position: relative;
    color: greenyellow;
    font-size: 18px;
    top: -250px;
    text-align: center;



}