body {
    background-color: black;
}

body {
    background-image: url("Images/matrix-code-control-free-image-on-pixabay-coding-pngs-hd-960_720.png");
}

body {
    text-decoration-color: white;

}

* {
    color: white;
}


/* Custom Font*/
@font-face {
    font-family: 'perfect_dark_brkregular';
    src: url('pdark-webfont.woff2') format('woff2'),
    url('pdark-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*#Hacker {*/
/*    font-family: perfect_dark_brkregular; */

/*}*/



#Hacker {

    font-family: 'Roboto', sans-serif;
    color: red;
}
