.navbar-brand.text {
    color: lawngreen;
    font-size: 35px;
    padding: 0;
}

.navbar-nav .nav-item {
    color: lawngreen;
}

.header {
    background-color: black;
}

body {
    background-color: black;
}

#title {
    color: lawngreen;
}

#footer {
    color: lawngreen;
}

.invisible {
    visibility: hidden;
    color: red;
}

#alert\ alert-light {
    color: lawngreen;
}

#definition-list-container {

    color: lawngreen;
}

#DL {
    color: lawngreen;
}

.question {

    color: red;
}