body {
    padding: 1rem;
}

.container {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
    display: grid;
    grid-gap: 10px;
}

.row {
    width: 100%;
    border: 2px solid blue;
    background-color: gainsboro;
}

.row:after {
    content: "";
    display: grid;
    clear: both;
}

.column {
    float: left;
    height: 3rem;
}

.column.one-half {
    width: 50%;
    outline:solid black 1px;
}

.column.one-third {
    width: 33.33%;
    outline:solid black 1px;
}

.column.one-forth {
    width: 25%;
    outline:solid black 1px;
}


.column.one-eigth {
    width: 12.5%;
    outline:solid black 1px;
}

column.whole {
    width: 100%;
    outline:solid black 1px;
}

