
.navbar-brand.text {
    color: lawngreen;
    font-size: 35px;
    padding: 0;
}

.navbar-nav .nav-item {
    color: lawngreen;
}

#header-divider {
    background-color: white;
    width: 100%;
    height: 5px;
}


body {
    background-color: black;
    background-image: url("Images/background-gaming-2.jpg");
}

.header {
    background-color: black;
}



