body {
    background-color: black;
}



.header {
    text-align: center;
    color: gold;
    -webkit-text-stroke: .75px white;
    background-color: black;
    background-image: url("Images/6122.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 200px;
    background-position: -25px -20px
}

.top-tab-container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-gap: 10px;
}

.top-tab {
    width: 100%;

}

.top-tab:after {
    content: "";
    display: grid;
    clear: both;
}



.top-tab-menu {
    color: gold;
    width: 25%;
    float: left;
    height: 1rem;
    font-size: 30px;
    -webkit-text-stroke: .5px darkgoldenrod;
}

.container1 {
    width:100%;
    height:auto;
   padding: 20px;
}

#box-text {
    margin: 0;
    color: gold;
    font-size: 30px;


}

#box {
    margin-right: 25px;
    float: left;
}

#quote {
    color: gold;
    font-size: 25px;
    top: -20px;

}

#moti-quote {
    text-align: center;
    font-size: 80px;
    color: gold;
    -webkit-text-stroke: 3px darkgoldenrod;
}

#footer1 {
    text-align: center;
    font-size: 50px;
    color: gold;
}